

.bg-yellow-apps{
    background-color: #fdf7e2;
}

.bg-yellow-apps-bold{
    background-color: #fbf3d5;
}

.th-padd{
    padding: 3px;
    font-size: 14px;
}

.td-padd{
    padding: 2px;
    font-size: 12px;
}

.table-thin{
    width: 100%;
}

.hide{
    display: none;
}

.page-item{
    font-size: 12px;
}

.dataTables_info{
    font-size: 12px;
}

.dataTables_length{
    font-size: 12px;
}

.dataTables_filter{
    font-size: 12px;
}

.btn-primary-thin{
    background-color: #30BDF6;
    color: #fbf3d5;
}
#map { height: 380px; }

.label-circle{
    width: 25px;
    height: 25px;
    background: #30BDF6;
    border-radius: 100%;
    color: #fbf3d5;
    text-align: center;
    font-weight: bold;
}